@import "tailwindcss";

@theme {
   /* 1. TYPOGRAPHY */
   --font-sans: "Manrope", sans-serif;
   --aspect-3\/4: 3 / 4;

   /* 2. COLORS */
   --color-primary: #0f2233;
   --color-secondary: #5a6e82;
   --color-tertiary: #29afb4;
   --color-neutral: #eef3f6;
   --color-surface: #ffffff;
   --color-on-primary: #ffffff;

   /* 3. BORDER RADIUS (ROUNDED) */
   --radius-sm: 6px;
   --radius-md: 12px;
   --radius-lg: 20px;
}
